<%= render 'shared/errors', obj: @article.comments.build %>
<%= simple_form_for([@article, @article.comments.build]) do |f| %>
  <div class="ui form">
    <div class="field">
      <label><%= f.label :comment %></label>
      <%= f.text_area :comment, cols: '20', rows: '5'%>
    </div>
    <%= f.button :submit, 'Post comment', :class => 'ui submit button small fluid' %>
  </div>
<% end %>