<%= render 'shared/errors', obj: @article %>
<%= form_with(model: @article, local: true ) do |f| %>
<div class="ui form">
  <div class="field">
    <label><%= f.label :title %></label>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label><%= f.label :description %></label>
    <%= f.text_area :description %>
  </div>
  <%= f.submit(@article.new_record? ? 'Post it' : 'Update post', :class => 'ui submit button large fluid') %>
</div>
<% end %>