<div class="container">
  <div class="ui center aligned segment">
    <h1>Articles Listing</h1>
  </div>
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <% @articles.each do |article| %>
  <div class="contentt">
    <div class="ui cards stackable centered">
      <div class="card fluid ui spacing-between">
        <div class="content center aligned">
          <%= link_to article_path(article.id) do %>
            <div class="header"><h1><%= article.title %></h1></div>
          <% end %>
          <div class="meta"><h5><%= article.created_at.strftime("%d/%m/%Y") %></h5></div>
          <div class="description"><p class="article-content"><%= truncate(article.description, length: 300 ) %></p></div>
          <div class="meta">
          <% if article.user %>
            <p class="grey">by <%= link_to article.user.username, user_path(article.user)  %></p>
          <% end %>
          <% if article.categories.any? %>
            <%= render article.categories %>
          <% end %>
          </div>
          <%= link_to 'READ', article_path(article.id), class: 'tiny ui button spacing-top violet' %>
          <% if logged_in? && (article.user == current_user || current_user.admin?) %>
            <%= link_to 'EDIT', edit_article_path(article.id), class: 'tiny ui button spacing-top grey' %>
            <%= link_to 'DELETE', article_path(article.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'tiny ui button spacing-top red' %>
          <% end %>
        </div>
      </div>
  <% end %>
    </div>
  </div>
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>
  