<div class="contentt container spacing-top">
  <div class="ui cards stackable centered">
    <div class="card fluid ui">
      <div class="content center aligned">
        <div class="header"><h1><%= @article.title %></h1></div>
        <div class="meta"><h5><%= @article.created_at.strftime("%d/%m/%Y")%></h5></div>
        <div class="description"><p class="article-content"><%= @article.description %></p></div>
                  <div class="meta"><p> by <%= @article.user.username %></p></div>
        <%= link_to 'Edit', edit_article_path(@article.id), class: 'tiny ui button spacing-top grey' %>
        <%= link_to 'Delete', article_path(@article.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'tiny ui button spacing-top red' %>
      </div>
    </div>
  </div>
</div>
