<div class="contentt container spacing-top">
  <div class="ui cards stackable centered">
    <div class="card fluid ui">
      <div class="content center aligned">
        <%= link_to gravatar_for(@article.user, size: 100), user_path(@article.user) %>
        <div class="meta"><p> by <%= link_to @article.user.username %></p></div>
        
        <div class="meta"><h5><%= @article.created_at.strftime("%d/%m/%Y")%></h5></div>
        <div class="header"><h1><%= @article.title %></h1></div>
        <div class="description" style="word-wrap: break-word; flex: inherit" ><p class="article-content"><%= @article.description %></p></div>
        <div class="content">
        <% if @article.categories.any? %>
          <%= render @article.categories %>
        <% end %>
        </div>
        <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
          <%= link_to 'Edit', edit_article_path(@article.id), class: 'tiny ui button spacing-top grey' %>
          <%= link_to 'Delete', article_path(@article.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'tiny ui button spacing-top red' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="ui labeled button" tabindex="0">
    <% if logged_in? %>
      <% pre_like = @article.likes.find { |like| like.user_id == current_user.id } %>
    <% end %>
    
    <% if pre_like %>
      <%= link_to article_like_path(@article, pre_like), method: :delete do %>
        <div class="ui red button">
          <i class="heart icon"></i> Unlike
        </div>
      <% end %>
    <% else %>
      <%= link_to article_likes_path(@article), method: :post do %>
        <div class="ui red button">
          <i class="heart icon"></i> Like
        </div>
      <% end %>
    <% end %>
    <a class="ui basic red left pointing label">
      <%= @article.likes.count %>
    </a>
  </div>
  <div class="ui comments">
    <h3 class="ui dividing header"><%= pluralize(@article.comments.count, 'comment') %></h3>
    <%= render @article.comments %>
  </div>
  <h3>Leave a reply</h3>
  <% if logged_in? %>
    <%= render 'comments/form' %>
  <% else %>
    <h4>You must be loggin in order to comment</h4>
  <% end %>
</div>

</div>

