<div class="container">
  <div class="ui center aligned segment">
    <h1><%= @user.username %>'s profile</h1>
    <%= gravatar_for @user, size: 130 %>
    <%= link_to 'Update Profile', edit_user_path(@user), class: 'tiny ui button spacing-top grey' %>
  </div>
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <% @articles.each do |article| %>
  <div class="ui center aligned segment">
    <div class="contentt">
      <h2>Articles</h2>
      <div class="ui cards stackable centered">
        <div class="card fluid ui spacing-between">
          <div class="content center aligned">
            <%= link_to article_path(article.id) do %>
              <div class="header"><h1><%= article.title %></h1></div>
            <% end %>
            <div class="meta"><h5><%= article.created_at.strftime("%d/%m/%Y") %></h5></div>
            <div class="description"><p class="article-content"><%= truncate(article.description, length: 300 ) %></p></div>
            <%= link_to 'READ', article_path(article.id), class: 'tiny ui button spacing-top violet' %>
            <%= link_to 'EDIT', edit_article_path(article.id), class: 'tiny ui button spacing-top grey' %>
            <%= link_to 'DELETE', article_path(article.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'tiny ui button spacing-top red' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
