<div class="jumbotron-bg">
  <div class="jumbotron-content">
    <div class="jumbotron-header">
      <div class="jumbotron-title">
        <h1 class="header white">A fun place to share<br>anything with everyone</h1>
        <h3 class="white">From recipes to movie review, here you can find all kind of stuff.</h3>
        <% if logged_in? %>
        <% else %>
          <%= link_to signup_path do %>
            <button class="circular ui icon inverted button">GET STARTED</button>
          <% end %>
          <button class="circular ui inverted button">LEARN MORE</button>
        <% end %>
      </div>
      <div class="draw">
        <%= image_tag('home.svg', size: '440x220', style: 'margin-right: 20px; margin-top:10px;') %>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h2 class="ui header"> We help your knowledge to reach countless people</h2>
        <h5> Dummy text Dummy text Dummy text Dummy text 
              Dummy text Dummy text Dummy text Dummy text
               Dummy text Dummy text Dummy text Dummy text
                Dummy text Dummy text Dummy text Dummy text 
        </h5>
      </div>
      <div class="six wide right floated column">
        <%= image_tag('letter.png', class: 'ui large bordered rounded image') %>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3 class="ui horizontal header divider">
          Favorite Article
        </h5>
        <p>
          <a class="ui image avatar">
            <%= gravatar_for @article_most_liked.user %>
          </a>
          <b style="font-size: 18px"><%= @article_most_liked.user.username %></b>
        </p>
        <h2><%= @article_most_liked.title %></h3>
        <%= link_to 'Read', article_path(@article_most_liked), class: 'ui normal button' %>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3 class="ui horizontal header divider">
          Most Commented
        </h5>
        <p>
          <a class="ui image avatar">
            <%= gravatar_for @most_commented_article.user %>
          </a>
          <b style="font-size: 18px"><%= @most_commented_article.user.username %></b>
        </p>
        <h2><%= @most_commented_article.title %></h3>
        <%= link_to 'Read', article_path(@most_commented_article), class: 'ui normal button' %>
      </div>
    </div>
  </div>
</div>