<div class="container">
  <div class="ui center aligned segment">
    <h1>Categories</h1>
  </div>
  <div class="flickr_pagination">
    <%= will_paginate @categories, :container => false %>
  </div>
  <% @categories.each do |category| %>
  <div class="contentt">
    <div class="ui cards stackable centered">
      <div class="card fluid ui spacing-between">
        <div class="content center aligned">
          <%= link_to category_path(category.id) do %>
            <div class="header"><h1><%= category.name %></h1></div>
<div class="meta"><h3><%= pluralize(category.articles.count, 'article') %></h3></div>
          <% end %>
        </div>
      </div>
  <% end %>
  <div class="flickr_pagination">
    <%= will_paginate @categories, :container => false %>
  </div>
    </div>
  </div>
</div>