<div class="navbar-bg">
  <div class="navbar white">
    <div class="ui text menu large navbar secondary">
      <a class="brand item">
        <div class="content">
          <%= link_to 'ALPHA BLOG', root_path, class: 'ui header white large' %>
        </div>
      </a>
      <%= link_to 'Home', root_path, class: 'active item white navbar-links stroke-effect spacing-left spacing-top' %>
      <%= link_to 'About', about_path, class: 'item white navbar-links spacing-top' %>
      <div class="ui simple dropdown item white navbar-links spacing-top">
        Articles
        <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
            <%= link_to 'Create Article', new_article_path, class: 'item white navbar-links spacing-top' %>
          <% end %>
          <div class="item white navbar-links"><%= link_to 'Listing', articles_path %></div>
        </div>
      </div>
      <a class="item white navbar-links spacing-top">
        Categories
      </a>
      <%= link_to 'Users', users_path, class: 'item white navbar-links spacing-top' %>
      <div class="right menu">
        <% if logged_in? %>
          <%= link_to user_path(current_user), class: 'ui item white' do %>
            <button class="ui inverted button">Profile</button>
          <% end %>
          <%= link_to logout_path, class: 'ui item white', method: :delete do %>
            <button class="ui inverted button">Log Out</button>
          <% end %>
        <% else %>
          <%= link_to signup_path, class: 'ui item white' do %>
            <button class="ui inverted button">Sign Up</button>
          <% end %>
          <%= link_to login_path, class: 'ui item white' do %>
            <button class="ui inverted button">Sign In</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
