<div class="navbar-bg">
  <div class="navbar white">
    <div class="ui text menu large navbar secondary">
      <a class="brand item">
        <div class="content">
          <%= link_to 'ALPHA BLOG', root_path, class: 'ui header white large' %>
        </div>
      </a>
      <%= link_to 'Home', root_path, class: 'active item white navbar-links stroke-effect spacing-left spacing-top' %>
      <a class="item white navbar-links spacing-top">
        About
      </a>
      <%= link_to 'Articles', articles_path, class: 'item white navbar-links spacing-top' %>
      <%= link_to 'Create', new_article_path, class: 'item white navbar-links spacing-top' %>
      <a class="item white navbar-links spacing-top">
        Categories
      </a>
      <a class="item white navbar-links spacing-top">
        Users
      </a>
      <div class="right menu">
        <%= link_to '#', class: 'ui item white' do %>
          <button class="ui inverted button">Sign In</button>
        <% end %>
        <%= link_to signup_path, class: 'ui item white' do %>
          <button class="ui inverted button">Sign Up</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
